<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<% if(isLogined){ %>
<p>当前登录用户：<%= name %>，<a href="/logout" id="logout">退出登陆</a></p>
<% } %>
<% if(!isLogined){ %>
<p id="no-login">您还没登录，3秒后自动跳转到登录页</p>
<% } %>
</body>
<script>
    window.onload = function(){
       if(document.getElementById('no-login')){
           setTimeout(function(){
               location.href = '/login'
           }, 3000)
       }
    }
</script>
</html>